<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi harum in officia maiores non, exercitationem nesciunt dignissimos! Ut, ab maiores!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi harum in officia maiores non, exercitationem nesciunt dignissimos! Ut, ab maiores!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi harum in officia maiores non, exercitationem nesciunt dignissimos! Ut, ab maiores!</p>
  </div>

  <%- include('./partials/footer.ejs') %>
  
</body>
</html>